<p>
  生成激活码算进入公司一个有趣的任务，它有两个基本的要求：
</p>

<p>
  1.不能重复<br>
  2.需要防止伪造<br>
</p>

<p>
  要做到第1点，需要一个唯一的key值, 容易想到的是计数器和时间。后面接触mongodb时，发现里面的objectid是机器生成的，并且确保唯一。它一共有24位的字符串，用到了时间，机器名，,进程pid和计数器来确保唯一，当然它这样的设计使得每s种生成的objectid有上限。<br>
  对于第2点，就比较容易，留出一些位数用于随机数就好了，这样即使知道算法，也很难伪造。<br>
</p>

<p>
  由于激活码一共有16位，加上出于市场的要求，去除了01IOL这些容易看错的字符，这样可以用的字符共32位。<br>
  出于还要留些字段给防止伪造，一共分了8位用于唯一key，另外8位用于随机数。<br>
  不难算出，大概可以生成32的8次方个唯一key，每个key的破解概率大概为32的8方之一。32的8次方大概多大呢? 1万亿吧，数量应该够了，真不够说明公司生意实在太好了，也有其他办法。</br>
</p>

<p>
  其实破解概率不用设置这么小, 几百万分之一差不多了，最初的方案有些不同，但也类似，前面留了几位tag方便市场部分析。<br>
  公司的激活码是通过邮件和短信发送到玩家的，有次收到玩家在论坛发贴的哭诉真倒霉，好不容易收到个限号测试激活码，结果短信上有两位是**，试了好久一直没猜出来。<br>
  怎么回事呢？原因让人有些哭笑不得了，因为变成**的两位刚好是一个敏感词，我们通过短信平台发送后被强制变成**了。<br>
  后面改为如果遇到包含敏感词的，重新生成直到不包含敏感词为止。为了每个唯一key都能生成，并且不会死循环。最后混排了唯一key和随即码的字符，并且都是8位。
</p>

