{% extends "base.jinja" %}
{% block css %} 
  <link href="/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
  <div id="aboutme">
    <p id="avatar">
      {# <h2>About Me</h2> #}
      <img src="/img/avatar.jpg" style="float:left"></img> 
    </p>

    <p>
      Hi，我叫刘阳，中文昵称麦子，是一枚热爱生活的IT男，偶尔会去登山徒步, 这两年在宋同学的带领下发现羽毛球这项运动也挺好玩。
    </p>

    <p>
      2009年大学毕业后校招进入广州网易游戏，工作岗位是游戏测试开发工程师，主要做一些自动化测试工具和部门内部系统的开发等。
    </p>

    <p>
      2012年11月6号, 还是决定要挑战一份真正的程序员的工作，于是换工作到了现在的简悦公司，担任web平台开发工程师。经过一年的努力，我和蜗牛大大两个人搭建了公司的通行证系统，充值系统和GM平台, 数据中心等一系列游戏项目的周边辅助系统, 并配合当时公司代理的端游《狂刃》上线运营。
    </p>

    <p>
      2014年初, 公司开始转方向做手游，我也开始挑战游戏服务器开发, 所用服务器框架是公司CTO云风开发的<a target="_blank" href="https://github.com/cloudwu/skynet">skynet</a>。我们组开发的手游成功地于同年10月份在国内上线，名称为《天天来战》，接着于2015年初在韩国上线，名称为《COA》.虽然很辛苦，比如那个被外派到腾讯度过的国庆节, 最终的取得成绩还不错。
    </p>

    <p>
      github和blog依旧更新地比较慢，这次发现很久以前自己写那个简单的静态页面博客生成系统还不错，这次把评论系统从disqus换成了更接地气点的多说.
    </p>

    <br><br><br>
          <p>QQ: 262763966</p>
          <p>Email: fpigparadise@gmail.com</p>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
