<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ title|e }}{% endblock %}</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css"/>
    {% block css %} {% endblock %}
  </head>

  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
    <div id="container">
      <div id="header">
        <div id="site_desc">
          <h1><a href="/">{{ site["name"] }}</a></h1>
          <i>{{ site["desc"] }}</i>
        </div>

        <ul id="nav_top">
          <li class="nav_link"><a href="/index.html">Home</a></li>
          <li class="nav_link"><a href="/about.html">AboutMe</a></li>
        </ul>
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>

      <div id="footer">
        <span>powered by <a href="http://github.com/pigparadise/jasmine">jasmine</a></span>
      </div>
    </div>

    {% block script %} {% endblock %}
    <noscript>Please enable JavaScript</noscript>
  </body>
</html>
