a {
    color: #DD4B39;
    text-decoration: none;
}
a:link, a:visited, a:active { text-decoration: none; }

ul, ol {list-style: none;}
body {
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; 
    color: #4f4f4f;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased; 
    margin: 0;
    padding: 8px;
    z-index: 1;
}

#container {
    width: 960px;
    text-align: left;
    margin: 0 auto;
    padding: 16px;

    background-color: white;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}


#site_desc h1 {
    margin: 18px 0 2px 0;
}

#nav_top {
    margin: 8px 0 8px 0;
    padding: 0px;
    border-bottom: 1px solid #EBEBEB;
}

.nav_link{
    display: inline;
    margin-right: 8px;
}

#content {
    position: relative;
    min-height: 588px;
    margin: 0;
    padding: 0 0 16px 0;
}

#footer {
    padding: 8px 0 16px 0;
    border-top: 1px solid #EBEBEB;
    text-align: center;
}


#posts_box {
    width: 720px;
    padding: 0 16px 0 0;
    border-right: 1px solid #EBEBEB;
}

#links_box {
    width: 208px;
    min-height: 588px;

    position: absolute;
    top: 0px;
    right: 0px;

    margin: 0;
    padding: 0;
}

#tags_box {
    margin: 0;
}

#archives_box {
    margin: 16px 0 0 0;
}

p {
    text-indent:2em;
}